<ion-header [translucent]="true">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Atualizar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="image"></ion-img>  
  
  <form #form="ngForm" (ngSubmit)="update(form)">

    <ion-item>
      <ion-label>Item:</ion-label>
      <ion-input type="text" name="produto" [ngModel]="produto.produto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredientes:</ion-label>
      <ion-input type="text" name="quantidade" [ngModel]="produto.quantidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Receita:</ion-label>
      <ion-input type="text" name="receita" [ngModel]="produto.receita"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imagem:</ion-label>
      <ion-input type="text" name="imagem" [ngModel]="produto.imagem"></ion-input>
    </ion-item>

    <ion-button type="submit" color="success" expand="block">Atualizar</ion-button>
  </form>

</ion-content>
