<ion-header [translucent]="true">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  
    <ion-item>
      <ion-img  [src]="produto.imagem"></ion-img>    
    </ion-item>
    
    <ion-item>
      <ion-label>Item: {{produto.produto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label >Ingredientes: {{produto.quantidade}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Receita: {{produto.receita}}</ion-label>
    </ion-item>
    
 

</ion-content>
