<ion-header [translucent]="true">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="image"></ion-img>  
  
  <form #form="ngForm" (ngSubmit)="update(form)">

    <ion-item>
      <ion-label name="produto" [ngModel]="produto.produto">Item: {{produto.produto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label name="quantidade" [ngModel]="produto.quantidade">Ingredientes: {{produto.quantidade}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label name="quantidade" [ngModel]="produto.receita">Receita: {{produto.receita}}</ion-label>
    </ion-item>
    
  </form>

</ion-content>
